[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
pytest = "*"
jupyter = "*"
art = "*"
pytest-cov = "*"
requests = "*"
wget = "*"

[dev-packages]

[requires]
python_version = "3.7.1"

[scripts]
nb = "jupyter-notebook"

[pipenv]
allow_prereleases = true
